body {
    background-image: url("images/jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    color: paleturquoise;
    font-size: x-large;
}

.button {
    height: 50px;
    width: auto;
    border-radius: 10px;
    background-color: chocolate;
    color: wheat;
    font-size: larger;
    display: inline;
}


#image {
    width: 20%;
    height: 20%;
    border: 2px solid green;
    border-radius: 1%;
}

#image2 {
    width: 10%;
    height: 10%;
    border: 2px solid green;
    border-radius: 0;
    bottom: 0;
    right: 0;
}

